.custom-result-item-render {
  display: flex;
  gap: 10px;
}

.custom-result-item-render img {
  height: 130px;
  aspect-ratio: 3/2;
}

.custom-result-item-render__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.custom-result-item-render__text em {
  color: red;
  text-transform: uppercase;
}