:root {
  --stx-color-text: #222;
  --stx-color-background: #fff;
  --stx-color-border: #eee;
  --stx-color-border-focus: var(--stx-color-border);
  --stx-shadow-dropdown: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.stx-hidden {
  display: none;
}

.stx-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
