/* Example dark theme styles */

:root main {
  --stx-color-text: #fff;
  --stx-color-muted: #b9bec9;
  --stx-color-background: #191b22;
  --stx-color-surface: #272b36;
  --stx-color-border: #454052;
  --stx-color-focus: #9f75ff;
}
